<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head >

    <th:block th:fragment="headfiles">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.gstatic.com" rel="preconnect"/>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet"/>
        <link th:href="@{~/css/bootstrap.css}" rel="stylesheet"/>
        <link th:href="@{~/vendors/iconly/bold.css}" rel="stylesheet" />
        <link th:href="@{~/vendors/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet" />
        <link th:href="@{~/vendors/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />
        <link th:href="@{~/css/app.css}" rel="stylesheet" />
        <link th:href="@{~/images/favicon.svg}" type="image/x-icon" rel="shortcut icon" />

        <script th:src="@{~/vendors/perfect-scrollbar/perfect-scrollbar.min.js}" type="text/javascript" async></script>
        <script th:src="@{~/js/bootstrap.bundle.min.js}" type="text/javascript" async></script>
        <script th:src="@{~/vendors/apexcharts/apexcharts.js}" type="text/javascript" async></script>
        <script th:src="@{~/js/pages/dashboard.js}" type="text/javascript" async></script>
        <script th:src="@{~/js/main.js}" type="text/javascript" async></script>
    </th:block>
</head>
<body>
    <div th:fragment="sidebar">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img th:src="@{~/images/logo/logo.png}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-xl">
                                    <img th:src="@{~/images/faces/1.jpg}" alt="Facing 1"/>
                                </div>
                                <div class="ms-3 name">
                                    <h5 class="font-bold" sec:authentication="name"> Patole</h5>
                                </div>
                            </div>
                        </li>
                        <li class="sidebar-title"></li>
                        <li class="sidebar-item ">
                            <a th:href="@{~/operation}" class='sidebar-link'>
                                <i class="bi bi-cash"></i>
                                <span>Saldo</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a th:href="@{~/operation}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-in-right"></i>
                                <span>Ingreso</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a th:href="@{~/operation}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Gasto</span>
                            </a>
                        </li>

                        <li class="sidebar-item ">
                            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{~/user}" class='sidebar-link'>
                                <i class="bi bi-person-badge"></i>
                                <span>Usuarios</span>
                            </a>
                        </li>

                        <li class="sidebar-item  ">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-outline-danger btn-block sidebar-link" type="submit">
                                    <i class="bi bi-door-open"></i>
                                    <span>Logout</span>
                                </button>
                            </form>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>

    </div>

    <footer th:fragment="footer">
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                        href="http://ahmadsaugi.com">A. Saugi</a></p>
            </div>
        </div>
    </footer>
</body>
</html>